.emobook input {
  display: none;
}

.emobook div {
  display: none;
}

.emobook input:checked + div {
  position: absolute;
  display: block;
  z-index: 999;
  bottom: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  right: -44px;
}

.emobook label {
  background-image: url('chrome-extension://__MSG_@@extension_id__/emo.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -1653px;
  display: block;
  height: 16px;
  position: relative;
  transition: opacity .2s;
  width: 16px;
}

.emobook div .row {
  width: 100%;
  display: inline-flex;
}

.emobook div .row .emotion {
  margin: 2.5px;
}

.emobook div .emotion {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  text-align: center;
}

.emobook div .emotion:hover {
  background-color: rgb(218, 218, 218);
}

.emobook div .emo-icon {
  max-height: 17px;
  max-width: 24px;
  width: 24px;
  height: 17px;
  background-repeat: no-repeat;
  background-image: url('chrome-extension://__MSG_@@extension_id__/emo.png');
  margin: 2px 1px 0px 2px;
}

.emobook div #a1 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -1653px;
}

.emobook div #a2 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -1364px;
}

.emobook div #a3 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2724px;
}

.emobook div #a4 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2741px;
}

.emobook div #a5 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2758px;
}

.emobook div #a6 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2775px;
}

.emobook div #a7 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2792px;
}

.emobook div #a8 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2809px;
}

.emobook div #a9 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2826px;
}

.emobook div #a10 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2843px;
}

.emobook div #a11 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2860px;
}

.emobook div #a12 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2877px;
}

.emobook div #a13 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2894px;
}

.emobook div #a14 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2911px;
}

.emobook div #a15 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2928px;
}

.emobook div #a16 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2945px;
}

.emobook div #a17 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2962px;
}

.emobook div #a18 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -3251px;
}

.emobook div #a19 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -2996px;
}

.emobook div #a20 {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -3013px;
}


/* ROW 2 */

.emobook div #b1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3013px
}

.emobook div #b2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3030px
}

.emobook div #b3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3047px
}

.emobook div #b4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3064px
}

.emobook div #b5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3081px
}

.emobook div #b6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3098px
}

.emobook div #b7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3115px
}

.emobook div #b8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3132px
}

.emobook div #b9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3149px
}

.emobook div #b10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3166px
}

.emobook div #b11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3183px
}

.emobook div #b12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3200px
}

.emobook div #b12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3217px
}

.emobook div #b13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3234px
}

.emobook div #b14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2979px
}

.emobook div #b15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2197px
}

.emobook div #b16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2214px
}

.emobook div #b17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2231px
}

.emobook div #b18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2248px
}

.emobook div #b19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2265px
}

.emobook div #b20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2282px
}


/* ROW 3 - C */

.emobook div #c1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2299px
}

.emobook div #c2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2316px
}

.emobook div #c3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2333px
}

.emobook div #c4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2350px
}

.emobook div #c5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2367px
}

.emobook div #c6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2384px
}

.emobook div #c7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2401px
}

.emobook div #c8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2418px
}

.emobook div #c9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2707px
}

.emobook div #c9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2452px
}

.emobook div #c10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2469px
}

.emobook div #c11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2486px
}

.emobook div #c12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2503px
}

.emobook div #c13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2520px
}

.emobook div #c14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2537px
}

.emobook div #c15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2554px
}

.emobook div #c16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2571px
}

.emobook div #c17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2588px
}

.emobook div #c18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2605px
}

.emobook div #c19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2622px
}

.emobook div #c20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3319px
}


/* ROW 4 - D */

.emobook div #d1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2656px
}

.emobook div #d2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2673px
}

.emobook div #d3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2690px
}

.emobook div #d4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2435px
}

.emobook div #d5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4067px
}

.emobook div #d6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4050px
}

.emobook div #d7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4033px
}

.emobook div #d8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4016px
}

.emobook div #d9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3999px
}

.emobook div #d10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3982px
}

.emobook div #d11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3965px
}

.emobook div #d12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3948px
}

.emobook div #c13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4084px
}

.emobook div #d14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3914px
}

.emobook div #d15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3897px
}

.emobook div #d16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3880px
}

.emobook div #d17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4152px
}

.emobook div #d18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3846px
}

.emobook div #d19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3829px
}

.emobook div #d20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3812px
}


/* ROW 5 - E */

.emobook div #e1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3931px
}

.emobook div #e2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4322px
}

.emobook div #e3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4305px
}

.emobook div #e4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4288px
}

.emobook div #e5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4271px
}

.emobook div #e6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4254px
}

.emobook div #e7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4237px
}

.emobook div #e8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4220px
}

.emobook div #e9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4203px
}

.emobook div #e10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4186px
}

.emobook div #e11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4169px
}

.emobook div #e12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4339px
}

.emobook div #e13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4135px
}

.emobook div #e14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4118px
}

.emobook div #e15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -4101px
}

.emobook div #e16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3523px
}

.emobook div #e17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3268px
}

.emobook div #e18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3285px
}

.emobook div #e19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3302px
}

.emobook div #e20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3863px
}


/* ROW 6 - F */

.emobook div #f1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3336px
}

.emobook div #f2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3353px
}

.emobook div #f3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3370px
}

.emobook div #f4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3387px
}

.emobook div #f5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3404px
}

.emobook div #f6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3421px
}

.emobook div #f7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3438px
}

.emobook div #f8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3455px
}

.emobook div #f9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3472px
}

.emobook div #f10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3489px
}

.emobook div #f11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3506px
}

.emobook div #f12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3795px
}

.emobook div #f13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3540px
}

.emobook div #f14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3557px
}

.emobook div #f15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3574px
}

.emobook div #f16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3591px
}

.emobook div #f17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3608px
}

.emobook div #f18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3625px
}

.emobook div #f19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3642px
}

.emobook div #f20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3659px
}


/* ROW 7 - G */

.emobook div #g1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3676px
}

.emobook div #g2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3693px
}

.emobook div #g3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3710px
}

.emobook div #g4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3727px
}

.emobook div #g5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3744px
}

.emobook div #g6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3761px
}

.emobook div #g7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -3778px
}

.emobook div #g8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1687px
}

.emobook div #g9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -616px
}

.emobook div #g10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -633px
}

.emobook div #g11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -650px
}

.emobook div #g12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2639px
}

.emobook div #g13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -667px
}

.emobook div #g14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -684px
}

.emobook div #g15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -701px
}

.emobook div #g16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -718px
}

.emobook div #g17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -735px
}

.emobook div #g18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -752px
}

.emobook div #g19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -769px
}

.emobook div #g20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -786px
}


/* ROW 8 - H */

.emobook div #h1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -803px
}

.emobook div #h2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -820px
}

.emobook div #h3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -837px
}

.emobook div #h4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1126px
}

.emobook div #h5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -871px
}

.emobook div #h6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -888px
}

.emobook div #h7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -905px
}

.emobook div #h8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -922px
}

.emobook div #h9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -939px
}

.emobook div #h10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -956px
}

.emobook div #h11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -973px
}

.emobook div #h12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -990px
}

.emobook div #h13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1007px
}

.emobook div #h14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1024px
}

.emobook div #h15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1041px
}

.emobook div #h16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1058px
}

.emobook div #h17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1075px
}

.emobook div #h18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -854px
}

.emobook div #h19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1109px
}

.emobook div #h20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1230px
}


/* ROW 9 - I */

.emobook div #i1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -140px
}

.emobook div #i2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -157px
}

.emobook div #i3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -174px
}

.emobook div #i4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -191px
}

.emobook div #i5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -208px
}

.emobook div #i6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -225px
}

.emobook div #i7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -242px
}

.emobook div #i8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -259px
}

.emobook div #i9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -276px
}

.emobook div #i10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -293px
}

.emobook div #i11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -310px
}

.emobook div #i12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -327px
}

.emobook div #i13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -344px
}

.emobook div #i14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -599px
}

.emobook div #i15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -378px
}

.emobook div #i16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -395px
}

.emobook div #i17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -412px
}

.emobook div #i18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -429px
}

.emobook div #i19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -446px
}

.emobook div #i20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -463px
}


/* ROW 10 - J */

.emobook div #j1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -480px
}

.emobook div #j2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -497px
}

.emobook div #j3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -514px
}

.emobook div #j4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -531px
}

.emobook div #j5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -548px
}

.emobook div #j6 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -565px
}

.emobook div #j7 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -582px
}

.emobook div #j8 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -361px
}

.emobook div #j9 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1092px
}

.emobook div #j10 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1381px
}

.emobook div #j11 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1670px
}

.emobook div #j12 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1704px
}

.emobook div #j13 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1789px
}

.emobook div #j14 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1806px
}

.emobook div #j15 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1823px
}

.emobook div #j16 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1840px
}

.emobook div #j17 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1857px
}

.emobook div #j18 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1874px
}

.emobook div #j19 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1891px
}

.emobook div #j20 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1721px
}


/* ROW 11 - K */

.emobook div #k1 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1738px
}

.emobook div #k2 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1755px
}

.emobook div #k3 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1772px
}

.emobook div #k4 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -2180px
}

.emobook div #k5 {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -1925px
}
