.emobook iframe {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  bottom: 18px;
  left: 0;
  transition: .2s ease all;
}

.emobook a {
  background-position: 0 -152px;
}

.emobook a:hover {
  opacity: 1;
}

.emobook a {
  display: block;
  height: 16px;
  position: relative;
  transition: opacity .2s;
  width: 16px;
}

.emobook input {
  display: none;
}

.emobook:hover iframe,
.emobook a:hover iframe {
  display: block;
}
