.emobook iframe {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  bottom: 18px;
  left: 0;
}

.emobook a {
  background-image: url('chrome-extension://__MSG_@@extension_id__/assets/emo.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0px -1653px;
  display: block;
  height: 16px;
  position: relative;
  transition: opacity .2s;
  width: 16px;
}

.emobook:hover iframe,
.emobook a:hover iframe,
.emobook iframe:hover {
  display: block;
}
