.row {
    width: 100%;
    display: inline-flex;
}

.row .emotion {
    margin: 2.5px;
}

.emotion {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
}

.emotion:hover {
    background-color: rgb(218, 218, 218);
}

.emo-icon {
    max-height: 17px;
    max-width: 24px;
    width: 24px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url(../emo.png);
    margin: 2px 1px 0px 2px;
}

#a1 {background-size: auto;background-repeat: no-repeat;background-position: 0px -1653px;}
#a2 {background-size: auto;background-repeat: no-repeat;background-position: 0px -1364px;}
#a3 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2724px;}
#a4 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2741px;}
#a5 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2758px;}
#a6 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2775px;}
#a7 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2792px;}
#a8 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2809px;}
#a9 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2826px;}
#a10 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2843px;}
#a11 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2860px;}
#a12 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2877px;}
#a13 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2894px;}
#a14 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2911px;}
#a15 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2928px;}
#a16 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2945px;}
#a17 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2962px;}
#a18 {background-size: auto;background-repeat: no-repeat;background-position: 0px -3251px;}
#a19 {background-size: auto;background-repeat: no-repeat;background-position: 0px -2996px;}
#a20 {background-size: auto;background-repeat: no-repeat;background-position: 0px -3013px;}

/* ROW 2 */

#b1{background-repeat:no-repeat;background-size:auto;background-position:0 -3013px}
#b2{background-repeat:no-repeat;background-size:auto;background-position:0 -3030px}
#b3{background-repeat:no-repeat;background-size:auto;background-position:0 -3047px}
#b4{background-repeat:no-repeat;background-size:auto;background-position:0 -3064px}
#b5{background-repeat:no-repeat;background-size:auto;background-position:0 -3081px}
#b6{background-repeat:no-repeat;background-size:auto;background-position:0 -3098px}
#b7{background-repeat:no-repeat;background-size:auto;background-position:0 -3115px}
#b8{background-repeat:no-repeat;background-size:auto;background-position:0 -3132px}
#b9{background-repeat:no-repeat;background-size:auto;background-position:0 -3149px}
#b10{background-repeat:no-repeat;background-size:auto;background-position:0 -3166px}
#b11{background-repeat:no-repeat;background-size:auto;background-position:0 -3183px}
#b12{background-repeat:no-repeat;background-size:auto;background-position:0 -3200px}
#b12{background-repeat:no-repeat;background-size:auto;background-position:0 -3217px}
#b13{background-repeat:no-repeat;background-size:auto;background-position:0 -3234px}
#b14{background-repeat:no-repeat;background-size:auto;background-position:0 -2979px}
#b15{background-repeat:no-repeat;background-size:auto;background-position:0 -2197px}
#b16{background-repeat:no-repeat;background-size:auto;background-position:0 -2214px}
#b17{background-repeat:no-repeat;background-size:auto;background-position:0 -2231px}
#b18{background-repeat:no-repeat;background-size:auto;background-position:0 -2248px}
#b19{background-repeat:no-repeat;background-size:auto;background-position:0 -2265px}
#b20{background-repeat:no-repeat;background-size:auto;background-position:0 -2282px}

/* ROW 3 - C */

#c1{background-repeat:no-repeat;background-size:auto;background-position:0 -2299px}
#c2{background-repeat:no-repeat;background-size:auto;background-position:0 -2316px}
#c3{background-repeat:no-repeat;background-size:auto;background-position:0 -2333px}
#c4{background-repeat:no-repeat;background-size:auto;background-position:0 -2350px}
#c5{background-repeat:no-repeat;background-size:auto;background-position:0 -2367px}
#c6{background-repeat:no-repeat;background-size:auto;background-position:0 -2384px}
#c7{background-repeat:no-repeat;background-size:auto;background-position:0 -2401px}
#c8{background-repeat:no-repeat;background-size:auto;background-position:0 -2418px}
#c9{background-repeat:no-repeat;background-size:auto;background-position:0 -2707px}
#c9{background-repeat:no-repeat;background-size:auto;background-position:0 -2452px}
#c10{background-repeat:no-repeat;background-size:auto;background-position:0 -2469px}
#c11{background-repeat:no-repeat;background-size:auto;background-position:0 -2486px}
#c12{background-repeat:no-repeat;background-size:auto;background-position:0 -2503px}
#c13{background-repeat:no-repeat;background-size:auto;background-position:0 -2520px}
#c14{background-repeat:no-repeat;background-size:auto;background-position:0 -2537px}
#c15{background-repeat:no-repeat;background-size:auto;background-position:0 -2554px}
#c16{background-repeat:no-repeat;background-size:auto;background-position:0 -2571px}
#c17{background-repeat:no-repeat;background-size:auto;background-position:0 -2588px}
#c18{background-repeat:no-repeat;background-size:auto;background-position:0 -2605px}
#c19{background-repeat:no-repeat;background-size:auto;background-position:0 -2622px}
#c20{background-repeat:no-repeat;background-size:auto;background-position:0 -3319px}

/* ROW 4 - D */

#d1{background-repeat:no-repeat;background-size:auto;background-position:0 -2656px}
#d2{background-repeat:no-repeat;background-size:auto;background-position:0 -2673px}
#d3{background-repeat:no-repeat;background-size:auto;background-position:0 -2690px}
#d4{background-repeat:no-repeat;background-size:auto;background-position:0 -2435px}
#d5{background-repeat:no-repeat;background-size:auto;background-position:0 -4067px}
#d6{background-repeat:no-repeat;background-size:auto;background-position:0 -4050px}
#d7{background-repeat:no-repeat;background-size:auto;background-position:0 -4033px}
#d8{background-repeat:no-repeat;background-size:auto;background-position:0 -4016px}
#d9{background-repeat:no-repeat;background-size:auto;background-position:0 -3999px}
#d10{background-repeat:no-repeat;background-size:auto;background-position:0 -3982px}
#d11{background-repeat:no-repeat;background-size:auto;background-position:0 -3965px}
#d12{background-repeat:no-repeat;background-size:auto;background-position:0 -3948px}
#c13{background-repeat:no-repeat;background-size:auto;background-position:0 -4084px}
#d14{background-repeat:no-repeat;background-size:auto;background-position:0 -3914px}
#d15{background-repeat:no-repeat;background-size:auto;background-position:0 -3897px}
#d16{background-repeat:no-repeat;background-size:auto;background-position:0 -3880px}
#d17{background-repeat:no-repeat;background-size:auto;background-position:0 -4152px}
#d18{background-repeat:no-repeat;background-size:auto;background-position:0 -3846px}
#d19{background-repeat:no-repeat;background-size:auto;background-position:0 -3829px}
#d20{background-repeat:no-repeat;background-size:auto;background-position:0 -3812px}

/* ROW 5 - E */

#e1{background-repeat:no-repeat;background-size:auto;background-position:0 -3931px}
#e2{background-repeat:no-repeat;background-size:auto;background-position:0 -4322px}
#e3{background-repeat:no-repeat;background-size:auto;background-position:0 -4305px}
#e4{background-repeat:no-repeat;background-size:auto;background-position:0 -4288px}
#e5{background-repeat:no-repeat;background-size:auto;background-position:0 -4271px}
#e6{background-repeat:no-repeat;background-size:auto;background-position:0 -4254px}
#e7{background-repeat:no-repeat;background-size:auto;background-position:0 -4237px}
#e8{background-repeat:no-repeat;background-size:auto;background-position:0 -4220px}
#e9{background-repeat:no-repeat;background-size:auto;background-position:0 -4203px}
#e10{background-repeat:no-repeat;background-size:auto;background-position:0 -4186px}
#e11{background-repeat:no-repeat;background-size:auto;background-position:0 -4169px}
#e12{background-repeat:no-repeat;background-size:auto;background-position:0 -4339px}
#e13{background-repeat:no-repeat;background-size:auto;background-position:0 -4135px}
#e14{background-repeat:no-repeat;background-size:auto;background-position:0 -4118px}
#e15{background-repeat:no-repeat;background-size:auto;background-position:0 -4101px}
#e16{background-repeat:no-repeat;background-size:auto;background-position:0 -3523px}
#e17{background-repeat:no-repeat;background-size:auto;background-position:0 -3268px}
#e18{background-repeat:no-repeat;background-size:auto;background-position:0 -3285px}
#e19{background-repeat:no-repeat;background-size:auto;background-position:0 -3302px}
#e20{background-repeat:no-repeat;background-size:auto;background-position:0 -3863px}

/* ROW 6 - F */

#f1{background-repeat:no-repeat;background-size:auto;background-position:0 -3336px}
#f2{background-repeat:no-repeat;background-size:auto;background-position:0 -3353px}
#f3{background-repeat:no-repeat;background-size:auto;background-position:0 -3370px}
#f4{background-repeat:no-repeat;background-size:auto;background-position:0 -3387px}
#f5{background-repeat:no-repeat;background-size:auto;background-position:0 -3404px}
#f6{background-repeat:no-repeat;background-size:auto;background-position:0 -3421px}
#f7{background-repeat:no-repeat;background-size:auto;background-position:0 -3438px}
#f8{background-repeat:no-repeat;background-size:auto;background-position:0 -3455px}
#f9{background-repeat:no-repeat;background-size:auto;background-position:0 -3472px}
#f10{background-repeat:no-repeat;background-size:auto;background-position:0 -3489px}
#f11{background-repeat:no-repeat;background-size:auto;background-position:0 -3506px}
#f12{background-repeat:no-repeat;background-size:auto;background-position:0 -3795px}
#f13{background-repeat:no-repeat;background-size:auto;background-position:0 -3540px}
#f14{background-repeat:no-repeat;background-size:auto;background-position:0 -3557px}
#f15{background-repeat:no-repeat;background-size:auto;background-position:0 -3574px}
#f16{background-repeat:no-repeat;background-size:auto;background-position:0 -3591px}
#f17{background-repeat:no-repeat;background-size:auto;background-position:0 -3608px}
#f18{background-repeat:no-repeat;background-size:auto;background-position:0 -3625px}
#f19{background-repeat:no-repeat;background-size:auto;background-position:0 -3642px}
#f20{background-repeat:no-repeat;background-size:auto;background-position:0 -3659px}

/* ROW 7 - G */

#g1{background-repeat:no-repeat;background-size:auto;background-position:0 -3676px}
#g2{background-repeat:no-repeat;background-size:auto;background-position:0 -3693px}
#g3{background-repeat:no-repeat;background-size:auto;background-position:0 -3710px}
#g4{background-repeat:no-repeat;background-size:auto;background-position:0 -3727px}
#g5{background-repeat:no-repeat;background-size:auto;background-position:0 -3744px}
#g6{background-repeat:no-repeat;background-size:auto;background-position:0 -3761px}
#g7{background-repeat:no-repeat;background-size:auto;background-position:0 -3778px}
#g8{background-repeat:no-repeat;background-size:auto;background-position:0 -1687px}
#g9{background-repeat:no-repeat;background-size:auto;background-position:0 -616px}
#g10{background-repeat:no-repeat;background-size:auto;background-position:0 -633px}
#g11{background-repeat:no-repeat;background-size:auto;background-position:0 -650px}
#g12{background-repeat:no-repeat;background-size:auto;background-position:0 -2639px}
#g13{background-repeat:no-repeat;background-size:auto;background-position:0 -667px}
#g14{background-repeat:no-repeat;background-size:auto;background-position:0 -684px}
#g15{background-repeat:no-repeat;background-size:auto;background-position:0 -701px}
#g16{background-repeat:no-repeat;background-size:auto;background-position:0 -718px}
#g17{background-repeat:no-repeat;background-size:auto;background-position:0 -735px}
#g18{background-repeat:no-repeat;background-size:auto;background-position:0 -752px}
#g19{background-repeat:no-repeat;background-size:auto;background-position:0 -769px}
#g20{background-repeat:no-repeat;background-size:auto;background-position:0 -786px}

/* ROW 8 - H */

#h1{background-repeat:no-repeat;background-size:auto;background-position:0 -803px}
#h2{background-repeat:no-repeat;background-size:auto;background-position:0 -820px}
#h3{background-repeat:no-repeat;background-size:auto;background-position:0 -837px}
#h4{background-repeat:no-repeat;background-size:auto;background-position:0 -1126px}
#h5{background-repeat:no-repeat;background-size:auto;background-position:0 -871px}
#h6{background-repeat:no-repeat;background-size:auto;background-position:0 -888px}
#h7{background-repeat:no-repeat;background-size:auto;background-position:0 -905px}
#h8{background-repeat:no-repeat;background-size:auto;background-position:0 -922px}
#h9{background-repeat:no-repeat;background-size:auto;background-position:0 -939px}
#h10{background-repeat:no-repeat;background-size:auto;background-position:0 -956px}
#h11{background-repeat:no-repeat;background-size:auto;background-position:0 -973px}
#h12{background-repeat:no-repeat;background-size:auto;background-position:0 -990px}
#h13{background-repeat:no-repeat;background-size:auto;background-position:0 -1007px}
#h14{background-repeat:no-repeat;background-size:auto;background-position:0 -1024px}
#h15{background-repeat:no-repeat;background-size:auto;background-position:0 -1041px}
#h16{background-repeat:no-repeat;background-size:auto;background-position:0 -1058px}
#h17{background-repeat:no-repeat;background-size:auto;background-position:0 -1075px}
#h18{background-repeat:no-repeat;background-size:auto;background-position:0 -854px}
#h19{background-repeat:no-repeat;background-size:auto;background-position:0 -1109px}
#h20{background-repeat:no-repeat;background-size:auto;background-position:0 -1230px}

/* ROW 9 - I */

#i1{background-repeat:no-repeat;background-size:auto;background-position:0 -140px}
#i2{background-repeat:no-repeat;background-size:auto;background-position:0 -157px}
#i3{background-repeat:no-repeat;background-size:auto;background-position:0 -174px}
#i4{background-repeat:no-repeat;background-size:auto;background-position:0 -191px}
#i5{background-repeat:no-repeat;background-size:auto;background-position:0 -208px}
#i6{background-repeat:no-repeat;background-size:auto;background-position:0 -225px}
#i7{background-repeat:no-repeat;background-size:auto;background-position:0 -242px}
#i8{background-repeat:no-repeat;background-size:auto;background-position:0 -259px}
#i9{background-repeat:no-repeat;background-size:auto;background-position:0 -276px}
#i10{background-repeat:no-repeat;background-size:auto;background-position:0 -293px}
#i11{background-repeat:no-repeat;background-size:auto;background-position:0 -310px}
#i12{background-repeat:no-repeat;background-size:auto;background-position:0 -327px}
#i13{background-repeat:no-repeat;background-size:auto;background-position:0 -344px}
#i14{background-repeat:no-repeat;background-size:auto;background-position:0 -599px}
#i15{background-repeat:no-repeat;background-size:auto;background-position:0 -378px}
#i16{background-repeat:no-repeat;background-size:auto;background-position:0 -395px}
#i17{background-repeat:no-repeat;background-size:auto;background-position:0 -412px}
#i18{background-repeat:no-repeat;background-size:auto;background-position:0 -429px}
#i19{background-repeat:no-repeat;background-size:auto;background-position:0 -446px}
#i20{background-repeat:no-repeat;background-size:auto;background-position:0 -463px}

/* ROW 10 - J */

#j1{background-repeat:no-repeat;background-size:auto;background-position:0 -480px}
#j2{background-repeat:no-repeat;background-size:auto;background-position:0 -497px}
#j3{background-repeat:no-repeat;background-size:auto;background-position:0 -514px}
#j4{background-repeat:no-repeat;background-size:auto;background-position:0 -531px}
#j5{background-repeat:no-repeat;background-size:auto;background-position:0 -548px}
#j6{background-repeat:no-repeat;background-size:auto;background-position:0 -565px}
#j7{background-repeat:no-repeat;background-size:auto;background-position:0 -582px}
#j8{background-repeat:no-repeat;background-size:auto;background-position:0 -361px}
#j9{background-repeat:no-repeat;background-size:auto;background-position:0 -1092px}
#j10{background-repeat:no-repeat;background-size:auto;background-position:0 -1381px}
#j11{background-repeat:no-repeat;background-size:auto;background-position:0 -1670px}
#j12{background-repeat:no-repeat;background-size:auto;background-position:0 -1704px}
#j13{background-repeat:no-repeat;background-size:auto;background-position:0 -1789px}
#j14{background-repeat:no-repeat;background-size:auto;background-position:0 -1806px}
#j15{background-repeat:no-repeat;background-size:auto;background-position:0 -1823px}
#j16{background-repeat:no-repeat;background-size:auto;background-position:0 -1840px}
#j17{background-repeat:no-repeat;background-size:auto;background-position:0 -1857px}
#j18{background-repeat:no-repeat;background-size:auto;background-position:0 -1874px}
#j19{background-repeat:no-repeat;background-size:auto;background-position:0 -1891px}
#j20{background-repeat:no-repeat;background-size:auto;background-position:0 -1721px}

/* ROW 11 - K */

#k1{background-repeat:no-repeat;background-size:auto;background-position:0 -1738px}
#k2{background-repeat:no-repeat;background-size:auto;background-position:0 -1755px}
#k3{background-repeat:no-repeat;background-size:auto;background-position:0 -1772px}
#k4{background-repeat:no-repeat;background-size:auto;background-position:0 -2180px}
#k5{background-repeat:no-repeat;background-size:auto;background-position:0 -1925px}
